<!DOCTYPE html>
<html lang="tr">
<head>
	<title>Teknokai - Teknolojiye dair</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

	<link rel="stylesheet" href="~/fonts/icomoon/style.css">
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
	<link rel="stylesheet" href="~/css/aos.css">

	<link rel="stylesheet" href="~/css/style.css">
</head>
<body>

	<div class="site-wrap">

		<div class="site-mobile-menu">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>

		<header class="site-navbar" role="banner">
			<div class="container-fluid">
				<div class="row align-items-center">

					<div class="col-12 search-form-wrap js-search-form">
						<form method="get" action="#">
							<input type="text" id="s" class="form-control" placeholder="Search...">
							<button class="search-btn" type="submit"><span class="icon-search"></span></button>
						</form>
					</div>

					<div class="col-4 site-logo">
						<a asp-action="Index" asp-controller="Blog" class="text-black h2 mb-0">Teknokai</a>
					</div>

					<div class="col-8 text-right">
						<nav class="site-navigation" role="navigation">
							<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
								<li><a asp-action="Index" asp-controller="Blog">Anasayfa</a></li>
								<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="1">Teknoloji</a></li>
								<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="2">Sinema</a></li>
								<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="3">Dizi</a></li>
								<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="4">Seyahat</a></li>
								<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="5">Yazılım</a></li>
								<li><a asp-action="Index" asp-controller="About">Hakkımızda</a></li>
								<li><a asp-action="Index" asp-controller="Contact">İletişim</a></li>
								<li class="d-none d-lg-inline-block"><a href="#" class="js-search-toggle"><span class="icon-search"></span></a></li>
							</ul>
						</nav>
						<a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a>
					</div>
				</div>

			</div>
		</header>
		@RenderBody()
	</div>


	<div class="site-footer">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-4">
					<h3 class="footer-heading mb-4">Hakkımızda</h3>
					<p>Bu blog projesi Onur Güneç tarafından 16.08.2022 tarihinde C# programlama dili ve .Net Core platformları kullanılarak kodlanmaya başlandı. Bu blog projesini yapmaktaki amacım yazılım alanında öğrendiğim bilgileri uygulamaya dökmek ve kendimi geliştirmektir. </p>
				</div>
				<div class="col-md-3 ml-auto">
					<!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
					<ul class="list-unstyled float-left mr-5">
						<li><a asp-action="Index" asp-controller="Blog">Anasayfa</a></li>
						<li><a asp-action="Index" asp-controller="About">Hakkımızda</a></li>
						<li><a asp-action="Index" asp-controller="Contact">İletişim</a></li>
						<li><a asp-action="UserLogin" asp-controller="Login">Giriş Yap</a></li>
						
					</ul>
					<ul class="list-unstyled float-left">
						<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="1">Teknoloji</a></li>
						<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="2">Sinema</a></li>
						<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="3">Dizi</a></li>
						<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="4">Seyahat</a></li>
						<li><a asp-action="BlogByCategory" asp-controller="Category" asp-route-id="5">Yazılım</a></li>
					</ul>
				</div>
				<div class="col-md-4">


					<div>
						<h3 class="footer-heading mb-4">Bizi Takip Edin</h3>
						<p>
							<a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
							<a href="#"><span class="icon-twitter p-2"></span></a>
							<a href="#"><span class="icon-instagram p-2"></span></a>
							<a href="#"><span class="icon-rss p-2"></span></a>
							<a href="#"><span class="icon-envelope p-2"></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy; <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | Bu tema <i class="icon-heart text-danger" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank">Colorlib</a> tarafından yapıldı.
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</div>




	<script src="~/js/jquery-3.3.1.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/js/jquery-ui.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/jquery.stellar.min.js"></script>
	<script src="~/js/jquery.countdown.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/bootstrap-datepicker.min.js"></script>
	<script src="~/js/aos.js"></script>

	<script src="~/js/main.js"></script>


</body>
</html>