@{
	var loggedUser = ViewData["user"] as Author;
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Teknokai - Teknolojiye dair</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body class="hold-transition sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- Navbar -->
		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a href="../../index3.html" class="brand-link">
				<img src="~/images/NET_Core_Logo.svg.png"
					 alt="Admin Logo"
					 class="brand-image img-circle elevation-3"
					 style="opacity: .8">
				<span class="brand-text font-weight-light">User Paneli</span>
			</a>
			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user (optional) -->
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">
					<div class="image">
						<img src="@loggedUser.AuthorImage" class="img-circle elevation-2" alt="User Image">
					</div>
					<div class="info">
						<a href="#" class="d-block">@loggedUser.AuthorName</a>
					</div>
				</div>
				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
							 with font-awesome or any other icon font library -->
						<li class="nav-item">
							<a asp-action="UserProfile" asp-controller="User" class="nav-link">
								<i class="bi bi-person-badge-fill"></i>
								<p>
									&nbsp;&nbsp;&nbsp;Profilim
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a asp-action="UserBlogList" asp-controller="User" class="nav-link">
								<i class="bi bi-collection-fill"></i>
								<p>
									&nbsp;&nbsp;&nbsp;Bloglar
								</p>
							</a>
						</li>
						<li class="nav-item has-treeview">
							<a href="#" class="nav-link">
								<i class="bi bi-pie-chart-fill"></i>
								<p>
									&nbsp;&nbsp;&nbsp;Grafikler
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a asp-action="Chart3" asp-controller="Chart" class="nav-link">
										<i class="bi bi-pie-chart"></i>
										<p>Pie Grafik</p>
									</a>
								</li>
								<li class="nav-item">
									<a asp-action="Chart4" asp-controller="Chart" class="nav-link">
										<i class="bi bi-layout-three-columns"></i>
										<p>Column Grafik</p>
									</a>
								</li>
							</ul>
						</li>
						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a asp-action="UserLogOut" asp-controller="Login" class="nav-link">
									<i class="bi bi-x-circle-fill"></i>
									<p>
										&nbsp;&nbsp;&nbsp;Çıkış Yap
									</p>
								</a>
							</li>
						}
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					@RenderBody()
				</div><!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<!-- /.content -->
		</div>
		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->
	<!-- jQuery -->
	<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>

