
<div class="site-section bg-lightx">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-5">
				<div class="subscribe-1 ">
					<h2>Bültenimize abone olun</h2>
					<p class="mb-5">Son gelişmelerden ilk siz haberdar olmak istiyorsanız e-bültene abone olabilirsiniz.</p>
					<form method="post" class="d-flex">
						<input type="text" class="form-control" placeholder="e-mail adresinizi girin" name="Mail"/>
						<input type="submit" asp-action="AddMail" asp-controller="SubscribeMail" class="btn btn-primary" value="Abone Ol">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



