<div class="card-body p-0">
	<ul class="nav nav-pills flex-column">
		<li class="nav-item active">
			<a href="#" class="nav-link">
				<i class="fas fa-inbox"></i> Gelen Kutusu
				<span class="badge bg-primary float-right">12</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="far fa-envelope"></i> Giden Kutusu
				<span class="badge bg-success float-right">0</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="far fa-file-alt"></i> Taslaklar
				<span class="badge bg-gradient-orange float-right">0</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="fas fa-filter"></i> Arşiv
				<span class="badge bg-warning float-right">65</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="far fa-trash-alt"></i> Çöp Kutusu
				<span class="badge bg-danger float-right">0</span>
			</a>
		</li>
	</ul>
</div>

