<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/images/contactbanner.jpg');">
	<div class="container">
		<div class="row same-height justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="post-entry text-center">
					<h1 class="">İletişim</h1>
					<p class="lead mb-4 text-white">Bizimle iletişime geçebilirsiniz.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="site-section bg-light">
	<div class="container">
		<div class="row">

			<partial name="~/Views/Contact/SendMessage.cshtml" />

			<div class="col-md-5">

				<div class="p-4 mb-3 bg-white">
					<p class="mb-0 font-weight-bold">Adres</p>
					<p class="mb-4">Atatürk Mah. İnönü Cad. No:23 Merkez/ÇANAKKALE</p>

					<p class="mb-0 font-weight-bold">Phone</p>
					<p class="mb-4"><a href="#">+90 545 925 20 60</a></p>

					<p class="mb-0 font-weight-bold">Mail</p>
					<p class="mb-0"><a href="#">ogunec@hotmail.com</a></p>

				</div>

			</div>
		</div>
	</div>
</div>

